.myButton {
  margin-top: 0px;
  padding-top: 0px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}
.myButton:active {
  position:relative;
  top:1px;
}

.side-bar {
  width: 20%;
}

.main-content {
  width: 80%;
}

.platforms {
  display: inline;
}

.collection-buttons {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  margin-right: 15px;
}

.game-image {
  float: left;
}

.game-data {
  position: relative;
  left: 20px;
  top: -10px;
  right: 40px;
}

.game-result {
  font-family: helvetica;
  height: 14  0px;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 18px;
}

.game-deck {
  padding-bottom: 5px;
  margin-bottom: 0px;
  font-style: italic;
}

.header {
  border-bottom: 1px solid grey;
  font-family: 'Press Start 2P', cursive;
}

.site-title {
  display: inline-block;
  padding-left: 20px;
}

.site-menu {
  display: inline-block;
}

li form.game-search {
  padding-left: 20px;
}

nav {
  list-style-type: none;
}

li {
  display: inline-block;
}

