<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>VGDB</title>
</head>
<body>
  <header class="header">
    <div class="site-title">
      <h1 class="title">GoodGames</h1>
    </div>
    <nav class="site-menu"><ul>
      <li><a class="home-link" href="/">home</a></li>
      <% if logged_in? %>
        <li><a href=<%= "/users/#{current_user.id}" %>><%= current_user.username %></a></li>
        <li><form action='/sessions' method='POST'><input type='hidden' name='_method' value='DELETE'><input type='submit' value='Logout'></form></li>
      <% else %>
        <li><a href='/users/new'>Register</a></li>
        <li><a href='/sessions/new'>Log In</a></li>
      <% end %>
        <li><form class="game-search" action="/games" method="GET">
        <input type="text" name="search_query" placeholder="Search games">
        <input type="submit" value="Search">
      </form></li>
    </ul></nav>
  </header>
  <div class="main-content">
    <%= yield %>
  </div>
</body>
</html>
